*,
*::before,
*::after {
    box-sizing: border-box;
    margin: unset;
    padding: unset;
}

html {
    font-size: 16px;
}

html:focus-within {
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    margin: unset;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

:is(h1, h2, h3, h4, h5, h6, p) {
    margin: unset;
}

p {
    hyphens: auto;
}

button {
    @extend .base_buttons;
}