<div class="bg-primary">
  <div class="bar container p-block-18 d-flex align-items-center justify-content-space-between">
    <p class="bar-head">
      Plastic profile extrusion specialist!
    </p>
    <ul class="bar-menu d-flex align-items-center gap-43">
      <li><a href="#">+3321 512 623 621</a></li>
      <!-- switch lang -->
      <div class="d-flex align-items-center">
        <li><button type="button">EN</button></li>
        <li><button type="button">UR</button></li>
      </div>
    </ul>
  </div>
</div>

<!-- display Flex pr mazeed R&D karoe ! hum kasy short hand use kr skty ha bootstrao ki traha -->